<!DOCTYPE html>
<html>
  <head>
    <title>NASA Image</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Agregar los archivos de jsPDF y jsPDF-AutoTable -->
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">NASA Imagen</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="btn btn-warning">Cerrar Sesión</a>
        </li>
      </ul>
    </nav>

    <div class="container mt-4">
      <div class="row">
        <div class="col">
          <h1 class="mb-4">NASA Imagen del día</h1>
          <form id="image-form" method="POST" action="/consultar">

            <div class="form-group">
              <label for="date">Selecciona la fecha a consultar</label>
              <input type="date" id="date" name="date" class="form-control">
            </div>
            <br>
            <input type="submit" value="Conseguir" class="btn btn-primary">
          
          </form>

          {% if data %}
          <div class="mt-4">
            <h2>{{ data.title }}</h2>
            <p>{{ data.explanation }}</p>
            <a href="/descargar-pdf?title={{ data.title }}&explanation={{ data.explanation }}&date={{ data.date }}&url={{ data.url }}" class="btn btn-secondary" target="_blank">Descargar PDF</a>
            <p>{{ data.date }}</p>
          
            <img id="image" src="{{ data.url }}" alt="{{ data.title }}" class="img-fluid">
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
         

        {% endif %}
        
        </div>
      </div>
    </div>

    
  </body>
</html>
